# 유사한 위스키 추천을 위해 위스키간 Cosine Similarity 를 측정합니다.
---
- 유사한 위스키는 다음과 같은 기준으로 정의합니다.
- Categorical Variables : category, price_tier
- Numeric Variables : abv, flavor(smoky ~ floral)

In [5]:
import os
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

## item_features 준비

In [15]:
item_features = pd.read_csv("../v4/dataset/item_features.csv", index_col=0, encoding="UTF-8")

In [11]:
whisky = pd.read_csv("../dataset/whisky.csv", index_col = 0, encoding="UTF-8")

In [16]:
item_features

,category,price_tier,abv,smoky,peaty,spicy,herbal,oily,body,rich,sweet,salty,vanilla,tart,fruity,floral
0,1,4,43.00,30,85,50,30,20,80,80,85,15,20,25,85,50
1,12,3,43.00,40,30,40,20,40,70,80,70,40,50,50,70,20
2,5,4,57.10,15,0,20,0,15,80,90,85,5,30,25,35,0
3,5,3,58.45,40,0,65,50,20,60,60,45,0,60,60,45,0
4,12,4,53.90,30,20,40,30,10,75,75,60,20,30,20,50,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3530,8,0,43.00,35,0,20,0,0,40,55,85,0,25,10,10,0
3531,2,0,40.00,0,0,40,20,0,30,0,100,0,100,0,60,10
3532,0,2,42.00,90,10,10,10,40,10,10,90,0,50,20,30,10
3533,9,1,44.50,0,0,10,100,80,0,0,40,0,20,0,0,0
3534,2,0,40.00,31,0,40,29,0,30,40,100,0,55,0,30,10

## Get Cosine Similarity

In [35]:
def get_similar_whisky(idx, item_features, k=5):
    ## get Cosine Similarity
    cosine_sim = cosine_similarity(item_features, item_features)
    
    ## get similarity scores
    scores = cosine_sim[idx]
    
    ## sort by similarity
    return np.argsort(-scores)[1:k+1]

In [43]:
result = get_similar_whisky(94, item_features)

In [44]:
result

array([1244, 3401, 1430, 1364, 2902], dtype=int64)

In [45]:
whisky.iloc[94]

whisky_id                                                      94
link                                        /spirits/laphroaig-10
image           https://ip-distiller.imgix.net/images/spirits/...
name                                            Laphroaig 10 Year
avr_rating                                                    7.9
category                                       Peated Single Malt
location                                          Islay, Scotland
total_rating                                               9454.0
price_tier                                                      3
abv                                                          43.0
cask_type                                              Ex-Bourbon
smoky                                                          70
peaty                                                          90
spicy                                                          50
herbal                                                         20
oily                                                           60
body                                                           60
rich                                                           40
sweet                                                          60
salty                                                          30
vanilla                                                        70
tart                                                           40
fruity                                                         60
floral                                                         30
Name: 94, dtype: object

In [46]:
whisky.iloc[result][["name"]+cols]

,name,category,price_tier,abv,smoky,peaty,spicy,herbal,oily,body,rich,sweet,salty,vanilla,tart,fruity,floral
1244,Ichiro's Malt Chichibu The Peated 2012,Peated Single Malt,5,50.5,80,75,30,25,40,50,60,43,27,57,32,65,31
3401,Johnnie Walker Swing,Peated Blend,3,40.0,64,64,67,37,71,63,45,68,38,58,49,69,58
1430,Benriach The Smoky Ten,Peated Single Malt,3,46.0,50,60,55,35,55,50,50,45,15,40,35,40,25
1364,Compass Box Peat Monster (Classic Brown Label),Peated Blended Malt,3,46.0,70,80,40,30,60,60,80,60,40,50,30,50,30
2902,Highland Park Full Volume,Peated Single Malt,4,47.2,70,60,55,50,60,40,40,70,40,65,50,55,30